extends /layout/layout

block main
   .columns.center(data-js-menu-highlight="about")
      .column.col-5.col-sm-12
         img(src='who.jpg')

      .column.col-7.col-sm-12
         include:metaMD text.md      