extends /layout/layout

block main
  table.table
      thead
        tr
          th name
          th genre
          th release date
      tbody
        tr.active
          td The Shawshank Redemption
          td Crime, Drama
          td 14 October 1994

  
  
  
