head
    include headFrag
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/gh/intuition-dev/intuDS@v1.0.3/src/css/min.min.css')

    script(src='/layout/ui-loader.js')


body
    link(rel='stylesheet', href='/layout/css/style.css')

    .pgCont
        .top
            p oh hi
        .main
            #left
                .mediaContainerTop
                    block media
                    //video#vid1.vid( autoplay preload='auto' loop muted )
                        source(src='arc2.mp4' type="video/mp4" )
                    
                .mainBot
                    p oh hi bot

            #right
                fraglist-custel

    
    script.
        depp.require([ 'fraglist' ], function() {
            console.log('loaded')
        }) 

        addEventListener('titleClick', function (evt) {
            const msg = evt.detail
            console.log(msg)
        })//()