extends /layout/layout
//- App Shell

block head2 
   script.
      depp.require(['pre'], function() {
         loadImage('img.jpg')
      })


block top
   style.
      .pageBack {
         background-image: url(img.jpg);
      }

   .pageBack 
      include /layout/nav
      br
      H1.flex.white.fLarge.fBod #{pageTitle}


block main
   .trans
   br
   .pad2.container.grid-xl(data-page='home')
      h2.container.grid-xl.cAccent.line.fBod Investment Strategy

      include:metaMD services.md
      .columns
         .column.col-xs-12
            .pad
               include:metaMD services1.md
         .column.col-xs-12
            .pad
               include:metaMD services2.md