extends /layout/layout-m
//- App Shell

block top

   .pageBack(data-js-menu-highlight="team")
      include /layout/nav-m

block main
   .trans
      ul.pad
         li
            a(href='/') Home
         li
            a(href='/team') Team
         li Eric White
   .container
      .columns

         .column.col-1
         .column.col-2
            img.img-responsive(src='who.jpg')

         .column.col-8
            H3.cAccent.line.fBod #{name}
            H5 #{position}
            .copy
               include:metaMD text.md
         .column.col-1


   //-link(href= ROOT + 'assets/css/debug.css', rel='stylesheet')

