

style.
   .adjustFootHead {
      margin-top: -10px;
   }
   .adjustFootList {
      padding-bottom: 8px;
   }


.foot.d-flex
   .d-flex.white.footer-1.container.grid-xl
      H3.text-bold.fBod
         a.logo(href='/') Upper Bay
      
      .menu-wrap.white.d-flex
         .menu-item
            a.item-main(href='/about/about/').text-bold ABOUT US
            ul
               li.adjustFootList
                  a(href='/about/strategy/') Investment Strategy
               li.adjustFootList
                  a(href='/about/org/') Corporate Responsibility
               li.adjustFootList
                  a(href='/about/careers/') Careers

         .menu-item
            a.item-main(href='/team/').text-bold TEAM
         .menu-item
            a.item-main(href='/news/').text-bold NEWS
         .menu-item
            a.item-main(href='/investments/').text-bold OUR INVESTMENTS
         .menu-item
            a.item-main(href='/contact/').text-bold CONTACT US

   
   .flex.edge
      .container.grid-xl
         .left &copy; Upper Bay Infrastructure Partners

