
#modal-login.modal.delayShowing
  a.modal-overlay(href='#close', aria-label='Close')
  .modal-container
    .modal-header
      a.btn.btn-clear.float-right(href='#close')
      .modal-title.h5 Login
    .modal-body
      .content
         p Coming soon
    .modal-footer

script.
   depp.require('cssJs', function() {
      $( "#modal-login" ).click(function() { //login
         $('#modal-login').removeClass('active')
      })

   });
