
header.container.grid-xl.flex.edge 

   #navbar-brand.left.white
      .navbar-brand.delayShowing
         h2#logo
            a(href='/') Upper Bay
   .right.delayShowing
      ul#navJBar.hide-lg.navJBar(data-function='navJBar')
         li.navFirst
            a.home(href='#') ABOUT
            ul
               li
                  a(href='/about/about/') About Us
               li
                  //- Services
                  a(href='/about/strategy/') Investment Strategy
               li
                  //- Del
                  a(href='/about/org/') Corporate Responsibility
               li
                  a(href='/about/careers/') Careers
         li
            a.team(href='/team/') TEAM
         li
            //- Blog
            a.news(href='/news/') NEWS
         li
            a.investment(href='/investments/') OUR INVESTMENTS
         li
            a.contact(href='/contact/') CONTACT US
         li
            a#loginBut(href='javascript:;') LOGIN
      div &nbsp;
      .white.show-lg#navBarCont
         svg.bord.feather(viewBox='0 0 24 24')
            line(x1='3', y1='12', x2='21', y2='12')
            line(x1='3', y1='6',  x2='21', y2='6')
            line(x1='3', y1='18', x2='21', y2='18')

#navOpen.show-lg

include login

script.
   depp.require('cssJs', function() {
      // menu hightlight
      if ($('[data-page="home"]').length !== 0) {
         $('header a.home').addClass('active');
      } else if ($('[data-page="team"]').length !== 0) {
         $('header a.team').addClass('active');
      } else if ($('[data-page="news"]').length !== 0) {
         $('header a.news').addClass('active');
      }
      else if ($('[data-page="investment"]').length !== 0) {
         $('header a.investment').addClass('active');
      }
      else if ($('[data-page="contact"]').length !== 0) {
         $('header a.contact').addClass('active');
      }
   });
   
   depp.require('cssJs', function() {
      $( "#loginBut" ).click(function() { //login
         $('#modal-login').addClass('active')
      })

      new Navbar('.navJBar'); // top

      //toggle
      $( "#navBarCont" ).click(function() { //side
         if(isOpen)
            navClose()
         else
            navOpen()
      })
   })//ready

   isOpen = false
   function navOpen() {
      var   $clone= $("#navJBar").clone(true)
      $clone.removeClass('hide-lg')
      $('#navOpen').html($clone)
      new Navbar('#navOpen')
      $('.navFirst').addClass('open')
      $('.navFirst').addClass('open-position')
      isOpen = true
   }
   function navClose() {
      $('#navOpen').empty()
      $('.navFirst').removeClass('open')
      $('.navFirst').removeClass('open-position')
      isOpen = false
   }