extends /layout/layout
//- App Shell

block head2
   script.
      depp.require(['pre'], function() {
         console.log('here1')
         loadImage('img.jpg')
      })

block top
   style.
      .pageBack {
         background-image: url(img.jpg);
      }

   .pageBack 
      include /layout/nav
      br
      H1.flex.white.fLarge.fBod.container.grid-xl #{pageTitle}


block main
   .trans
   br
   .pad.container.grid-xl(data-page='news')
      H1.cAccent.line.fBod Press Release

      include news
  
   p
      br
