
card-tag
   .cards
      <virtual each={ items}>
         <virtual if={ publish}>
            .item-wrap
               a.item(href='{url}')
                  .img-wrap(href='{url}')
                     img(src="{image}")
                  .cardInfo
                     div
                        h6.cAccent { name }
                     div
                        h6.black { position }
         </virtual>
      </virtual>
   br

   script.
      console.info('oh hi tag')
      this.on('*', function(evt) {
         console.info('riot', evt)
      })
      this.items = []
      thiz = this

      render(data) {// public
         console.info(data)
         if(!data ) {
            thiz.items = []
            thiz.update()
            return
         }
         console.info(Object.keys(data[0]))
         // clone
         let cloned = JSON.parse(JSON.stringify(data))
         thiz.items = cloned

        let sz = thiz.items.length
        for(i = 0; i < sz; i++) {
            var item = thiz.items[i]

            item.image = ROOT + 'team/' + item.url + '/who.jpg'
            item.url = ROOT + 'team/' + item.url
            console.info(item.url)
         }

         thiz.update()

      }


