extends /layout/layout
//- App Shell

block top
   style.
      .pageBack {
         background-image: url(img.jpg);
      }

   .pageBack.delayShowing(data-js-menu-highlight="about")
      include /layout/nav
      br
      .home-head-img
         H1.flex.white.fBod We empower teams to know what customers really want 
            

block main
   .pad
      H1.line.fBod #{title}
      h2 This product is great for CEO

   .columns
         .column.col-xs-12
            .pad
               img(src="alan-home1.jpg", width=660)
         .column.col-xs-12
            .pad
               include:metaMD text.md
   .pad
      h3 This is the type of progress we help teams make
      
   .columns
         .column.col-xs-12
            .pad
               img(src="netgear_logo.png", width=400, height=60)
               include:metaMD netgear.md
         .column.col-xs-12
            .pad
               img(src="pipedrive_logo.png", width=400, height=60)
               include:metaMD pipedrive.md
         .column.col-xs-12
            .pad
               img(src="herf_jones_logo.png", width=400, height=60)
               include:metaMD herff.md

   .columns
         .column.col-xs-12
            .pad
               include:metaMD pipedrivestory.md
         .column.col-xs-12
            .pad
               iframe(type='text/html' width='640' height='360' src="https://player.vimeo.com/video/269684374" frameborder='0' allowfullscreen)         

   //-link(href= ROOT + 'assets/css/debug.css', rel='stylesheet')

