extends /layouts/layout

block main

    .container
        h3 FAQ:
            h4 As a developer, what are some of the expectations for your end-users:
            p.
                When you develop the app, you will train users how to use Markdown, using a text editor. 
                They'll find that a text editor is more productive than GUI or Drag and Drop for the expert users.
