head
    include /layout/headFrag

body
    p what

    .video_container
        video#vid1( autoplay loop muted)
            source(src='arc.mp4' type="video/mp4" )
        
    p now
        
    style.
        * { margin: 0; padding: 0; }
        html, body { 
            height: 100%; 
            width: 100%; 
        }

        .video_container {
            display: flex;

            height: calc(100% - 100px);
            width:  calc(100% - 100px);
            background: #edeae8;
            border: 3px solid #73AD21;
        }

        #vid1 {
            overflow: hidden;
            flex: 1;
            object-fit: contain;
        }

    script.

        window.addEventListener('resize', setVD, false)
        depp.require([''], function() {
            console.log('ready')


            // baseliner = new Baseliner({gridHeight:19, gridColor: 'red'})
            //toolBeltDefault()
            //console.log( getStyle(document.getElementsByTagName("BODY")[0], 'line-height') )

        })//req