head
    include /layout/headFrag

body
    p what

    .background_video_container
        video#background_video(loop autoplay)
        
    p now
        
    style.
        html, body {
            width: 100%;
            height: 100%;
        }

        .background_video_container {
            overflow: hidden;
            position: absolute;
            top: 0; left: 0; right: 0; bottom: 0;
        }

        #background_video {
            position: absolute;

            top: 50%; left: 50%;
            transform: translate(-50%, -50%);

            object-fit: contain;
            height: 100%; width: 100%;
        }

        #container {
            height: 100%;
        }


    script.
        console.log('here')

        depp.require(['bideo'], function() {
            console.log('ready')
            var bv = new Bideo()
            bv.init({
                // Video element
                videoEl: document.querySelector('#background_video'),

                // Container element
                container: document.querySelector('#container'),

                resize: true,
                autoplay: true,

                src: [{
                    src: 'arc.mp4',
                    type: 'video/mp4'
                    }],

                // What to do once video loads (initial frame)
                onLoad: function () {
                    console.log('onLoad')
                }
            })//()


            // baseliner = new Baseliner({gridHeight:19, gridColor: 'red'})
            //toolBeltDefault()
            //console.log( getStyle(document.getElementsByTagName("BODY")[0], 'line-height') )

        })//req