head
    include /layout/headFrag

    script(src='/layout/ui-loader.js')
body
    .container
        include /includes/navbar

    main(role='main').main-bg
        // Main jumbotron for a primary marketing message or call to action
        .jumbotron.m-0.section-padding.text-center.bg-transparent
            .container
                .row
                    .col-md-8.offset-md-2
                        h1.display-4.intu-title INTUITION.DEV
                        p
                            include:metaMD /text/motto.md
        .jumbotron.bg-light.hero-image.py-7
            .container
                .row.align-items-center
                    .col-md-12.text-center.robots-replace.text-uppercase
                        p ROBOTS WILL REPLACE DRIVERS!
                        p AND 
                            span.display-3 PROGRAMMERS
                        p unless we programmers use automation low-code generator

        .jumbotron.section-padding.bg-white
            .container
                .row.px-0.align-items-center.text-center
                    .col-md-12
                        p.display-6 What if users could maintain and build next version?
                        p Version 1.0 spec is followed by next version - majority of effort is after 1.0 release!
                        p INTUITION.DEV is built in Pug language
                        img(src="iterative.png").rounded.mt-3.img-fluid
        //- 2 skate iterations
        .container.pb-5
            .jumbotron.bg-light.py-3
                .row.align-items-center
                    .col-md-12
                        div.text-center
                            p.display-6 What makes INTUITION stand
                        div.mb-3.mt-3
                            div.d-flex.flex-column.custom-list
                                include:metaMD /text/difference.md
                            div.text-right
                                a.text-lowercase.font-italic.text-secondary.font-weight-light(href="/landing/features") More...
                    .col-md-12.text-center
                        include:metaMD  /text/approach.md

            .jumbotron.p-3.p-md-5.text-white.rounded.bg-dark
                .col-md-10.px-0
                    h1.display-5.font-italic No matter what app we build, you need SEO. Static is not optional
                    p.lead.my-3 SEO helps to boost your revenue by increasing the number of traffic to your website and by increasing sales.
                    p.mb-0
                        a.text-white.font-weight-bold(href='https://intuition-dev.github.io/IntuitionDocs/#/SEO', target='_blank') Continue reading...


            .row.mb-2
                    .col-md-6
                        .card.mb-3
                            .row.no-gutters
                                .col-md-8
                                    .card-body
                                        h4.card-title
                                            a.text-dark(href='https://intuition-dev.github.io/IntuitionDocs/#/CRUD', target='_blank') Basic CRUD application
                                        p.card-text.mb-auto Building  a simple CRUD application with INTU
                                        a.btn.btn-primary(href='https://intuition-dev.github.io/IntuitionDocs/#/CRUD', target='_blank').mt-3 Read More
                                .col-md-4.col-xs-12
                                    img.card-img-right(src='crud.jpeg').img-fluid.mx-auto.d-block
                    .col-md-6
                        .card.mb-3
                            .row.no-gutters
                                .col-md-8
                                    .card-body
                                        h4.card-title Mobile App
                                        p.card-text PhoneGap
                                        a.btn.btn-primary(href='https://intuition-dev.github.io/IntuitionDocs/#/mobile', target='_blank').mt-3 Read More
                                .col-md-4.col-xs-12
                                    img(src='tech.jpeg').img-fluid.mx-auto.d-block
    include /includes/footer
    
    style.
        .intu-title {
            text-shadow: 1px 1px 0px #ffffff;
            color: rgba(0, 0, 0, 0.74);
        }
        .section-padding {
            padding: 6rem 2rem;
        }
        .display-5 {
            font-size: 3rem;
            line-height: 1.3;
        }
        .display-6 {
            font-size: 2.5rem;
            line-height: 1.3;

        }
        .iterations {
            border: 1px solid white;
            padding: 10px;
            box-shadow: 0 0 1px grey;
            background: white;
        }
        .hero-image {
            background-image: url(truck_3.jpg);
            background-repeat: no-repeat;
            background-position: bottom;
            background-size: cover;
            margin: 0;
            padding: 16rem 2rem;
            color: white;
            position: relative;
            border-radius: 0;
        }
        .hero-image > .container {
            position: relative;
            z-index: 1;
        }
        .robots-replace p{
            position: relative;
            z-index: 1;
            text-shadow: 0 0 6px #000101, 0 0 26px #1b3458;
        }
        
        .robots-replace:after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            display: block;
            top: 0;
            left:0;
            z-index: 0;
        }

        .main-bg > div {
            position: relative;
            z-index: 1;
        }
        
        .main-bg:after {
            content: '';
            position: absolute;
            background: #f2f2f2;
            background-repeat: no-repeat;
            width: 100%;
            height: 100%;
            display: block;
            top: 0;
            right: 0;
            z-index: -1;
        }

        .custom-list ul{
            padding: 3rem 0;
            list-style: none;
            margin: 0;
            column-count: 2;
            column-gap: 4rem;
            column-rule: 1px solid #cfcfcf;
            text-align: center;
            text-transform: capitalize;
        }
        .custom-list ul li {
            line-height: 2;
        }