extends /layout/layout

block main
   .d-hide(data-js-menu-highlight="who-benefits")

   style.
      .pageBack {
         background-image: url(img.jpg);
      }

   .pageBack
      br
      h1.white.splash.text-center  #{title}
   
   .pad
      include:metaMD who.md
      include:metaMD tech-leads.md
      include:metaMD cto.md
      include:metaMD vpe.md
      include:metaMD new.md
