extends /layout/layout

block main
   .code(data-js-menu-highlight="get-started")
   .pad
      include:metaMD text.md

      br
      a(href='http://forum.MetaBake.org') Forum
      br
      a(href='http://git.MetaBake.org') GitHub
      br
      a(href='http://docs.MetaBake.org') Docs

