doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(content='width=device-width,initial-scale=1', name='viewport')
    title Blog Website
      
    //- icons
    link(href='https://use.fontawesome.com/releases/v5.7.2/css/all.css', rel='stylesheet', integrity='sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr', crossorigin='anonymous')
    link(href='/assets/css/style.css', rel='stylesheet')
      
    //- Fonts
    link(href='https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700' rel='stylesheet')
      
    script(src='https://cdn.jsdelivr.net/npm/riot@3.10.3/riot.min.js')
    script(src='https://unpkg.com/axios@0.19.0-beta.1/dist/axios.min.js') 
    script(src=ROOT+ 'blog-website/comps/card-tag.js') 
  body
    .container.grid-lg
      include /blog-website/header
      
      block main
      
      include /blog-website/footer
