.home-wrapper.inner
  .topbar-wrapper
    .container.grid-xl
      .topbar
        .email
          i.icono-mail
          a(href='mailto:metabake@mbake.org') metabake@mbake.org
        div
          include social.pug
  .container.grid-xl
    include nav.pug