doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    script.
       ROOT = '#{ROOT}' //- sets global pug and .js from dat.yaml
       let _start = Date.now()
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui, viewport-fit=cover")
    title Metabake Blog
      
    //- icons
    link(href='https://use.fontawesome.com/releases/v5.7.2/css/all.css', rel='stylesheet', crossorigin='anonymous')
    link(href='/assets/css/style.css', rel='stylesheet')
    
    script(src='//cdn.jsdelivr.net/npm/johnnydepp@0.1.0/dist/depp.min.js')      
    script(src='https://cdn.jsdelivr.net/npm/riot@3.13.2/riot.min.js')
    script(src=ROOT+ 'home/comps/card-comp.min.js') 
      
    script(src='https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.slim.min.js')
    script(src= ROOT + 'assets/js/setup.js')

    script(src="//instant.page/1.2.2", type="module", integrity="sha384-2xV8M5griQmzyiY3CDqh1dn4z3llDVqZDqzjzcY+jCBCk/a5fXJmuZ/40JJAPeoU")
  body
    
    include header
    
    .container.grid-xl  
      block main
      
    include footer
