doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    script.
       ROOT = '#{ROOT}' //- sets global pug and .js from dat.yaml
       let _start = Date.now()
    meta(content='width=device-width,initial-scale=1', name='viewport')
    title Metabake Blog
      
    //- icons
    link(href='https://use.fontawesome.com/releases/v5.7.2/css/all.css', rel='stylesheet', crossorigin='anonymous')
    link(href='/assets/css/style.css', rel='stylesheet')
    
    script(src='//cdn.jsdelivr.net/npm/johnnydepp@0.0.3/dist/depp.min.js')      
    script(src='https://cdn.jsdelivr.net/npm/riot@3.13.2/riot.min.js')
    script(src=ROOT+ 'home/comps/card-comp.min.js') 
      
    script(src='https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.slim.min.js')
    script(src= ROOT + 'assets/js/setup.js')
  body
    
    include header
    
    .container.grid-xl  
      block main
      
    include footer
