mixin social()
  a.social-icon(href='#')
    i(class!=attributes.class)
      
+social(class="fab fa-facebook-f")
+social(class="fab fa-instagram")
+social(class="fab fa-twitter")
+social(class="fab fa-google-plus-g")      
