head
    include headFrag
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/gh/intuition-dev/toolBelt@v1.9.17/bootStrap/css/bootstrapTop.css')

    block head2
body
    script(src='/assets/ui-loader.js')
    .container
        include navbar

    block main

    include footer
