extends /layout/layout
//- App Shell 


block top
   script(src=ROOT+ 'news/tag/table-comp.js')
   style.
      .pageBack {
         background-image: url(img.jpg);
      }

   .pageBack.delayShowing(data-js-menu-highlight="news")
      include /layout/nav
      br
      H1.flex.white.fLarge.fBod News


block main
   .pad
      H1.cAccent.line.fBod Press Releases
      table-comp

   script.
      const tag = riot.mount('table-comp')[0] // mount the first tag
      axios.get('/news/list.json').then(function(resp) {
         news = resp.data;
         console.info('n ready');
         tag.render(news);
      })// fetch

   //-link(href= ROOT + 'assets/css/debug.css', rel='stylesheet')

