extends /layout/layout-m
//- App Shell

block top

   .pageBack(data-js-menu-highlight="news")
      include /layout/nav-m
      br
      H1.flex.white.fLarge.fBod News


block main
   .pad
      H1.cAccent.line.fBod Press Releases