card-tag 
  .columns
    .column.col-6.col-sm-12
      .card
        .card-image
          img.img-responsive(src=ROOT + 'assets/img/blog/item-1.jpg')
      
        .card-top
          button.btn.btn-primary button
          h3 7 Must Have Tools For Web Designers
          div August 6, 2018 | Eldred Braun
        .card-bottom
          button.btn.btn-primary Read More
