auth-comp
  
  script .
    const fconfig = {
       apiKey: 'AIzaSyDEHxhK7qQNDonvL21K5MhF8I41FTaQdNM', 
       authDomain: 'test-crud-7ee29.firebaseapp.com',
       projectId: 'test-crud-7ee29'
    }


    // RW generic *GLOBALS* ///////////////////////////////////////////////////////////////////
    window.firebase.initializeApp(fconfig)
    window.auth =firebase.auth()
    auth.setPersistence(firebase.auth.Auth.Persistence.LOCAL)

    window.db1  = window.firebase.firestore()
