footer.bg-secondary
   .container.mt-3
      div.py-5
            a.h5(href="/").text-white INTUITION.DEV
            div.font-italic.text-white It will LEAD you in the right direction
   .bg-dark
      .container
            .p-2.d-flex.justify-content-between.text-secondary
               .copyright.font-weight-light &#169; 2019 
                  span.d-inline-block.pl-1 Intuition
               a.font-weight-light.text-secondary(href='//github.com/intuition-dev') Github