nav.navbar.navbar-expand-lg.navbar-light.bg-light
   a.navbar-brand(href='/') BRAND
   button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarText', aria-controls='navbarText', aria-expanded='false', aria-label='Toggle navigation')
         span.navbar-toggler-icon

   #navbarText.collapse.navbar-collapse
         ul.navbar-nav.mr-auto
            li.nav-item.active
               a.nav-link(href='/') Low-Code
            li.nav-item
               a.nav-link(href='/landing/features/') Features
            li.nav-item
               a.nav-link(href='/examples') Examples
            li.nav-item
               a.nav-link(href='https://intuition-dev.github.io/IntuitionDocs/#/', target="_blank") Docs
            li.nav-item
               a.nav-link(href='https://blog.metabake.org/', target="_blank") Blog
         a.navbar-text(href='//github.com/intuition-dev', target="_blank")
            i.fa.fa-github