extends /layout/layout
//- App Shell

block top
   style.
      .pageBack {
         background-image: url(img.jpg);
      }


   .pageBack.delayShowing(data-js-menu-highlight="about")
      include /layout/nav
      br
      H1.flex.white.fLarge.fBod.text-bold Our Product


block main
   .pad
      H1.cAccent.line.fBod Our Product
      h5.copy
         include:metaMD text.md

   //-link(href= ROOT + 'assets/css/debug.css', rel='stylesheet')

