extends /layout/layout-m
//- App Shell

block top

   .pageBack(data-js-menu-highlight="about")
      include /layout/nav-m
      br
      H1.flex.white.fLarge.fBod.text-bold Workshops


block main
   .trans
      ul.pad
         li
            a(href='/') Home
         li Workshops
   br
   .pad
      H1.cAccent.line.fBod Workshops
      
      include:metaMD text.md
      .columns
         .column.col-xs-12
            .pad
               amp-img(src="workshop1.jpg", width="640", height="457")
         .column.col-xs-12
            .pad
               include:metaMD workshop1.md
      include:metaMD text1.md
      .columns
         .column.col-xs-12
            .pad
               include:metaMD workshop2.md
         .column.col-xs-12
            .pad
               include:metaMD workshop3.md
      .columns
         .column.col-xs-12
            .pad
               amp-img(src="dan-tweet.png", width="420", height="438")
         .column.col-xs-12
            .pad
               amp-img(src="elvin-tweet.png", width="420", height="444")
         .column.col-xs-12
            .pad
               amp-img(src="sabrina-tweet.png", width="429", height="181")
               amp-img(src="mark-tweet.png", width="429", height="187")
      include:metaMD text2.md

   //-link(href= ROOT + 'assets/css/debug.css', rel='stylesheet')

