
.cards
    .card
        p oh hi1
    .card
        p oh hi
    .card
        p oh hi
    .card
        p oh hi
    .card
        p oh hi
    .card
        p oh hi
    .card
        p oh hi
    .card
        p oh hi

style. 
    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: flex-start;
        
        background: hsl(0, 0%, 98%);

    }
    /*
        width = item + margin to make orphan go left
    */
    .cards:after {
        content: '';
        width: 321px;
    }


    .card {
        width: 320px;
        height: 180px ;

        margin: 0px;
        overflow: hidden;

        background: white;
        border-style: outset;
        border-width: .05px;
        border-color: #DCDCDC;
    }
