
div
    .card
        p oh hi
    .card
        p oh hi
    .card
        p oh hi
    .card
        p oh hi
    .card
        p oh hi
    .card
        p oh hi
    .card
        p oh hi
    .card
        p oh hi

