
<head>
  <script>
    var _start = Date.now()
    window.ENV = '0' //- for comps, but it is also in scope for Pug for ENV logic
    
  </script>
  <title></title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <script src="https://cdn.jsdelivr.net/npm/johnnydepp@0.1.0/dist/depp.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/intuition-dev/toolBelt@v1.9.20/src/toolBelt.min.js"></script>
  <style>
    html { touch-action: manipulation; }
    .delayShowing { opacity: 0; }
    .blur { -webkit-filter:blur(2px);filter:blur(2px); }
  </style>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/intuition-dev/intuDS@v1.0.1/src/css/min.min.css"/>
</head>
<body>
  <p>oh hi</p>
  <button class="btn btn-a">Previous </button>
  <div id="custLst">
    <ul class="paginationTop"></ul>
    <input class="search smooth" placeholder="Search"/>
    <hr/>
    <table class="table">
      <thead></thead>
      <tr>
        <th>Elements</th>
      </tr>
      <tbody class="list"></tbody>
    </table>
    <ul class="paginationBot"></ul>
  </div>
  <button class="btn btn-a">Next </button>
<!-- mB v6.09.18 on 2019-09-23T02:48:54.290Z --></body>
<style>
  .pagination li {
      display:inline-block;
      padding:5px;
  }
  
</style>
<script>
  toolBeltDefault()
  depp.require(['listjs'], function() {
      console.log('ready')
      var dat = [
          {name: 'oh hi1', desc: 'there'},
          {name: 'oh hi2', desc: 'there'},
          {name: 'oh hi3', desc: 'there'},
          {name: 'oh hi4', desc: 'there'},
          {name: 'oh hi5', desc: 'there'},
          {name: 'oh hi6', desc: 'there'},
          {name: 'oh hi7', desc: 'there'},
          {name: 'oh hi8', desc: 'there'},
          {name: 'oh hi9', desc: 'there'},
          {name: 'oh hi10', desc: 'there'},
          {name: 'oh hi11', desc: 'there'},
          {name: 'oh hi12', desc: 'there'},
          {name: 'oh hi1', desc: 'there'},
          {name: 'oh hi2', desc: 'there'},
          {name: 'oh hi3', desc: 'there'},
          {name: 'oh hi4', desc: 'there'},
          {name: 'oh hi5', desc: 'there'},
          {name: 'oh hi6', desc: 'there'},
          {name: 'oh hi7', desc: 'there'},
          {name: 'oh hi8', desc: 'there'},
          {name: 'oh hi9', desc: 'there'},
          {name: 'oh hi10', desc: 'there'},
          {name: 'oh hi11', desc: 'there'},
          {name: 'oh hi12', desc: 'there'},
      ]
  
      onData(dat)
  })
  
  function onData(data) {
      var options = {
          valueNames: [ 'desc', 'name', {data: ['name']} ],
          item: `<tr data-name> 
                   <td class="name"></td>
                   <td class="desc"></td>
                 </tr>`,
          page: 3,
          pagination: true,
          pagination: [{
              name: "paginationTop",
              paginationClass: "paginationTop",
              innerWindow: 1,
              left: 2
          }, {
              paginationClass: "paginationBot",
              innerWindow: 1,
              right: 2
          }]
     
          }
  
      var custListEl = document.getElementById('custLst')
  
      var custelList = new List(custListEl, options, data)
  }//()
</script>