head
    include /layout/headFrag
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/gh/intuition-dev/intuDS@v1.0.1/src/css/min.min.css')

body
    p oh hi

    button#prev.btn.butOff.classless(disabled) Previous 

    div
        #data-container
        #pagination-container

    button#next.btn.butOff.classless(disabled) Next 
    
style.

    .butOn {
        font-weight: normal;
        plointer-events: auto;

    }
    .butOff {
        font-weight: lighter;
        plointer-events: none;
   }

script.
    //toolBeltDefault()

    function template(data) {

        var html = '<ul>';
        $.each(data, function(index, item){
            html += '<li>'+ item +'</li>';
        });
        html += '</ul>';
        return html;

    }

    depp.require(['jquery', 'pagination', 'mustache', 'poly'], function() {
        console.log('ready')

        document.getElementById("prev").addEventListener("click", function(){
                console.log('P')
                $('#pagination-container').pagination('previous')
            })

        document.getElementById("next").addEventListener("click", function(){
            console.log('N')
            $('#pagination-container').pagination('next')
        })
        
  
        var dat = [
            {name: 'oh hi1', desc: '1there'},
            {name: 'oh hi2', desc: '2there'},
            {name: 'oh hi3', desc: '3there'},
            {name: 'oh hi4', desc: '4there'},
            {name: 'oh hi5', desc: '5there'},
            {name: 'oh hi6', desc: '6there'},
            {name: 'oh hi7', desc: '7there'},
            {name: 'oh hi8', desc: '8there'},
            {name: 'oh hi9', desc: '9there'},
            {name: 'oh hi10', desc: '10there'},
            {name: 'oh hi11', desc: '11there'},
            {name: 'oh hi12', desc: '12there'},
            {name: 'oh hi13', desc: '13there'},
            {name: 'oh hi14', desc: '14there'},
            {name: 'oh hi15', desc: '15there'},
            {name: 'oh hi16', desc: '16there'},
            {name: 'oh hi17', desc: '17there'},
            {name: 'oh hi18', desc: '18there'},
            {name: 'oh hi19', desc: '19there'}
        ]

        onData(dat)
    })


    function onData(data) {
        console.log('data')
        $('#pagination-container').pagination({

            pageSize: 3,
            showPageNumbers: false,
            showPrevious: false,
            showNext: false,

            dataSource: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 195],

            callback: function(data, pagination) { // on page
                console.log('pg')
                //pg, sz, tot
                showHide(pagination.pageNumber, pagination.pageSize, pagination.totalNumber)

                // template method 
                var html = template(data)
                $('#data-container').html(html)
            }//cb
        })

    }//()

    function showHide(pg, sz, tot) {
        console.log('sh')
        if(pg==1)  { but('prev', false ) }
            else but('prev', true) 

        if(pg * sz < (tot - sz)) { // more 
            but('next', true) 
        } else { // to much
            but('next', false) 
        }
    }

    function but(id, on) {

        console.log(id,on)

        $b = $('#'+id)
        $b.prop('disabled', on)
    
        if(on) {
            $b.removeClass( "classless" )
            $b.removeClass( "butOff" )
            $b.addClass(    "btn-a" )
            $b.addClass(    "butOn" )

        } else {
            $b.removeClass( "btn-a" )
            $b.removeClass( "butOn" )
            $b.addClass(    "classless" )
            $b.addClass(    "butOff" )
        }

    }//()