head
body
   script.
      locations = ['/landing/MetaBake-vs-other-low-code','/landing/MetaBake-vs-hugo','/landing/MetaBake-vs-gulp-and-grunt'];
      window.location.href = locations[Math.floor(Math.random() * locations.length)];
