extends /layout/layout-m
//- App Shell

block top

   .pageBack(data-js-menu-highlight="team")
      include /layout/nav-m
      br
      br
      H1.flex.white.fLarge.fBod Team

block main
   .square-bg
      .square-bg__inside
         .pad