.slider-wrap {
   display: none;
}

body {
   &.home {
      .slider-wrap {
         display: block;
      }
      .img-top.inner {
         display: none;
      }
   }
   .img-top.inner {
      background: url(../img/slide-3.jpg) top center / cover, no-repeat, $color-bg-dark;
      height: 150px;
      p:first-of-type {
         display: none;
      }
      h2 {
         text-align: left;
         font-size: 26px;
         line-height: 1.3;
         width: 450px;
         max-width: 100%;
         padding: 0 0 0 15px;
      }
      .btn-custom {
         margin: 16px 0 25px 0;
         flex-shrink: 0;
      }
      .pad {
         width: 100%;
         padding: 0 2%;
         display: flex;
         align-items: center;
         justify-content: space-between;
      }
   }
}

.slick-dots {
   text-align: center;
   padding: 0;
   margin: 0;
   position: absolute;
   bottom: 18px;
   left: 0;
   right: 0;
   z-index: 9999;
   li {
      width: 16px;
      height: 14px;
      position: relative;
      display: inline-block;
      button {
         border: 2px solid transparent;
         outline: 0;
         width: 16px;
         height: 14px;
         padding: 2px 3px;
         background-color: transparent;
         text-indent: -99999px;
         font-size: 0;
         &:before {
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            border: 1px solid rgba(0,0,0,.8);
         }
         &:after {
            content: '';
            display: block;
            position: absolute;
            z-index: 9999;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            border: 1px solid transparent;
         }
      }
      &:last-child {
         margin-right: 0;
      }
      &.slick-active {
         position: relative;
         button {
            &:before {
               background: #000;
            }
         }
      }
   }
 }
 
.slick-arrow {
   background-image: url(../img/svg/caret.svg);
   background-repeat: no-repeat;
   background-position: center left 12px;
   background-size: 15px 15px;
   background-color: #fafafa;
   border: 0;
   text-indent: -999999px;
   font-size: 0;
   border-radius: 50%;
   color: #404040;
   cursor: pointer;
   position: absolute;
   display: block;
   top: 46%;
   z-index: 99999;
   opacity: .8;
   box-shadow: none;
   transition: opacity cubic-bezier(.16,1,.29,.99) .15;
   outline: 0;
   width: 44px;
   height: 44px;
   padding: 0;
   &:hover, &:active {
      box-shadow: 0 4px 8px rgba(0,0,0,.2);
      opacity: 1;
      outline: none;
   }
   &:before {
      content: "";
      margin-right: 2px;
      position: relative;
      left: 0;
      top: 0;
   }
   &:after {
      content: '';
      display: block;
      border-radius: 50%;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border: 1px solid transparent;
   }
   &.slick-prev, &.prev {
      left: 1rem;
   }
   &.slick-next, &.next {
      right: 1rem;
      -moz-transform: scaleX(-1);
      -o-transform: scaleX(-1);
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
      filter: FlipH;
      -ms-filter: "FlipH";
   }
}

.img-top {
   background-position: center center;
   background-repeat: no-repeat;
   background-size: cover;
   background-color: $color-bg-dark;
   height: 480px;
   overflow: hidden;
   display: flex;
   align-items: center;
   justify-content: center;
   .pad {
      width: 700px;
      max-width: 100%;
      display: table;
      margin: 0 auto;
      color: $color-bg-dark;
      text-align: center;
   }
   h2 {
      margin-bottom: 25px;
      font-size: 46px;
      font-weight: 600;
      color: $color-bg-dark;
      cursor: pointer;
   }
   .btn-custom {
      margin: 35px auto 0 auto;
      font-weight: 600;
      color: white;
   }
   p {
      margin: 0;
   }
}

.slide {

   &-1 {
      .img-top {
         background-image: url(../img/slide-1.jpg);
      }
   }

   &-2 {
      .img-top {
         background-image: url(../img/slide-4.jpg);
      }
   }

   &-3 {
      .img-top {

         background-image: url(../img/slide-3.jpg);
      }
   }
 
}

@media (max-width: 960px) {

   .img-top {
      height: 400px;
      h2 {
         font-size: 32px;
      }
   }

}

@media (max-width: 840px) {

   .img-top h2 {
      font-size: 20px;
      padding: 0;
      margin: 0 0 20px 0;
   }

   .home .img-top .pad {
      padding-left: 2%;
      padding-right: 2%;
   }

   body .img-top.inner .pad {
      flex-wrap: wrap;
      justify-content: center;
      h2 {
         text-align: center;
      }
   }

   body .img-top.inner .btn-custom {
      margin: 0;
   }

}

@media (max-width: 600px) {

   .home .img-top {
      height: 300px;
   }

}

@media (max-width: 480px) {
   .home .img-top p:first-of-type {
      display: none;
   }

   body .img-top.inner .pad h2 {
      font-size: 16px;
   }
}