
<head>
  <script>
    var _start = Date.now()
    window.ENV = '0' //- for comps, but it is also in scope for Pug for ENV logic
    
  </script>
  <title></title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <script src="https://cdn.jsdelivr.net/npm/johnnydepp@0.1.0/dist/depp.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/intuition-dev/toolBelt@v1.9.20/src/toolBelt.min.js"></script>
  <style>
    html { touch-action: manipulation; }
    .delayShowing { opacity: 0; }
    .blur { -webkit-filter:blur(2px);filter:blur(2px); }
  </style>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/intuition-dev/intuDS@v1.0.1/src/css/min.min.css"/>
</head>
<body>
  <div class="fragCont">
    <p></p>
    <button class="btn butOff classless" id="prev" disabled="disabled">Previous </button>
    <p></p>
    <div class="pagCont">
      <div id="data-container"></div>
      <div id="pagination-container"></div>
    </div>
    <p></p>
    <button class="btn butOff classless" id="next" disabled="disabled">Next </button>
  </div>
<!-- mB v6.09.18 on 2019-09-23T22:09:29.224Z --></body>
<style>
   .fragCont {
       display: flex;
       flex-direction: column;
       height: calc(100% - 1.5em);
   }    
   .pagCont {
       flex-grow: 1;
   }
  
   .btn {
       width: 8em;
   }
  
   .butOn {
       font-weight: normal;
       pointer-events: auto;
   }
   .butOff {
       font-weight: lighter;
       pointer-events: none;
  }
  
</style>
<script>
  //toolBeltDefault()
  
  function template(data) {
  
      var html = '<ul>';
      $.each(data, function(index, item){
          html += '<li>'+ item +'</li>';
      });
      html += '</ul>';
      return html;
  
  }
  
  depp.require(['jquery', 'pagination', 'mustache', 'poly'], function() {
      console.log('ready')
  
      document.getElementById("prev").addEventListener("click", function(){
              console.log('P')
              $('#pagination-container').pagination('previous')
          })
  
      document.getElementById("next").addEventListener("click", function(){
          console.log('N')
          $('#pagination-container').pagination('next')
      })
      
  
      var dat = [
          {name: 'oh hi1', desc: '1there'},
          {name: 'oh hi2', desc: '2there'},
          {name: 'oh hi3', desc: '3there'},
          {name: 'oh hi4', desc: '4there'},
          {name: 'oh hi5', desc: '5there'},
          {name: 'oh hi6', desc: '6there'},
          {name: 'oh hi7', desc: '7there'},
          {name: 'oh hi8', desc: '8there'},
          {name: 'oh hi9', desc: '9there'},
          {name: 'oh hi10', desc: '10there'},
          {name: 'oh hi11', desc: '11there'},
          {name: 'oh hi12', desc: '12there'},
          {name: 'oh hi13', desc: '13there'},
          {name: 'oh hi14', desc: '14there'},
          {name: 'oh hi15', desc: '15there'},
          {name: 'oh hi16', desc: '16there'},
          {name: 'oh hi17', desc: '17there'},
          {name: 'oh hi18', desc: '18there'},
          {name: 'oh hi19', desc: '19there'}
      ]
  
      onData(dat)
  })
  
  function onData(data) {        
      console.log('data')
      var computedItems = $('.pagCont').height() / 30   // pixels    
      console.log( $('.pagCont').height(), computedItems ) 
  
      $('#pagination-container').pagination({
  
          pageSize: computedItems,
          showPageNumbers: false,
          showPrevious: false,
          showNext: false,
  
          dataSource: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11,  2, 3, 4, 5, 6, 7, 8, 9, 10, 11],
  
          callback: function(data, pagination) { // on page
              console.log('pg')
              //pg, sz, tot
              setTimeout(function(){
                  showHide(pagination.pageNumber, pagination.pageSize, pagination.totalNumber)
              },1)
  
              // template method 
              var html = template(data)
              $('#data-container').html(html)
          }//cb
      })
  
  }//()
  
  function showHide(pg, sz, tot) {
      console.log('sh')
      if(pg==1)  { but('prev', false ) }
          else but('prev', true) 
  
      var cur = pg * sz
      console.log(cur, tot)
      if(cur < tot) { // more 
          but('next', true) 
      } else { // to much
          but('next', false) 
      }
  }
  
  function but(id, on) {
      console.log(id,on)
      $b = $('#'+id)
      $b.prop('disabled', !on)
      if(on) {
          $b.removeClass( "classless" )
          $b.removeClass( "butOff" )
          $b.addClass(    "btn-a" )
          $b.addClass(    "butOn" )
  
      } else {
          $b.removeClass( "btn-a" )
          $b.removeClass( "butOn" )
          $b.addClass(    "classless" )
          $b.addClass(    "butOff" )
      }
  }//()
</script>