head
    include /layout/headFrag
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/gh/intuition-dev/intuDS@v1.0.3/src/css/min.min.css')

body

    .fragCont
        p
        button#prevBut.btn.butOff.classless(disabled) Previous 
        .topSpace
        .pagCont
            #data-container
            #pagination-container
        
        button#nextBut.btn.butOff.classless(disabled) Next 

        template#temp1
            span {{#.}}
                .fragTitle {{title}}
                hr
                br
            span {{/.}}
    
style.

    .fragCont {
        width: 200px;
        margin-left: 1em;
        display: flex;
        flex-direction: column;
        height: calc(100% - 1.5em);
    }
    .topSpace {
        min-height: 1.6em;
    }
    
    .pagCont {
        flex-grow: 1;
    }
    #nextBut {

    }

    .fragTitle {
        font-weight: 400;
        
        /*clamp */
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;  
        overflow: hidden;
    }

    .butOn {
        font-weight: normal;
        pointer-events: auto;
    }
    .butOff {
        font-weight: lighter;
        pointer-events: none;
   }


