
<head>
  <script>
    var _start = Date.now()
    window.ENV = '0' //- for comps, but it is also in scope for Pug for ENV logic
    
  </script>
  <title>Rambo - Last Blood</title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <script src="https://cdn.jsdelivr.net/npm/johnnydepp@0.1.0/dist/depp.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/intuition-dev/toolBelt@v1.9.21/src/toolBelt.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/intuition-dev/intuDS@v1.0.3/src/css/min.min.css"/>
</head>
<body>
  <div class="fragCont">
    <p></p>
    <button class="btn butOff classless" id="prevBut" disabled="disabled">Previous </button>
    <div class="topSpace"></div>
    <div class="pagCont">
      <div id="data-container"></div>
      <div id="pagination-container"></div>
    </div>
    <button class="btn butOff classless" id="nextBut" disabled="disabled">Next </button>
    <template id="temp1"><span>{{#.}}
        <div class="fragTitle">{{title}}</div>
        <hr/><br/></span><span>{{/.}}</span></template>
  </div>
<!-- mB v6.09.19 on 2019-09-28T20:08:56.326Z --></body>
<style>
   .fragCont {
       width: 200px;
       margin-left: 1em;
       display: flex;
       flex-direction: column;
       height: calc(100% - 1.5em);
   }
   .topSpace {
       min-height: 1.6em;
   }
   
   .pagCont {
       flex-grow: 1;
   }
   #nextBut {
  
   }
  
   .fragTitle {
       font-weight: 400;
   }
  
   .butOn {
       font-weight: normal;
       pointer-events: auto;
   }
   .butOff {
       font-weight: lighter;
       pointer-events: none;
  }
  
  
</style>
<script>
  toolBeltDefault()
  loadFonts(['Open+Sans:300,400'])
  
  
  function onRowClick(el) {
  
      const selector = '.fragTitle'
      var cel = el.target.closest(selector)
      if (!cel) return
      //console.log(cel)
  
      var title = cel.innerText
      console.log(title)
  
      disE('titleClick', title)
  
  }//()
  
  depp.require(['jquery', 'pagination', 'mustache', 'js-yaml', 'DOMDelayed'], function() {
      console.log('ready')
   
      render('').then(function(dat){
          onFragData(dat.frags)
      })
  
      depp.require('DOMDelayed', function() {
          var table = document.getElementById('data-container')
          table.addEventListener('click', onRowClick)
  
          document.getElementById("prevBut").addEventListener("click", function(){
                  console.log('P')
                  $('#pagination-container').pagination('previous')
              })
  
          document.getElementById("nextBut").addEventListener("click", function(){
              console.log('N')
              $('#pagination-container').pagination('next')
      })
      })
      
  })// req
  
  function render() {  //polyIO
      var path = ''
  
      // data
      return new Promise(function (resolve, reject) {
          fetch(path+'dat.yaml', {
              cache: 'default',
              keepalive: true
          }).then(function (fullResp) {
              if (!fullResp.ok)
                  reject(fullResp.statusText)
              return fullResp.text()
              }).then(function (ys) {
                  let y = jsyaml.safeLoad(ys)
                  resolve(y)
              })
          .catch(function (err) {
              console.log(err)
              reject(err)
          })
      })//pro
  }
  
  function onFragData(data) {        
  
      console.log('data')
      var computedItems = $('.pagCont').height() / 40   // pixels    
  
      console.log('rendering', $('.pagCont').height(), computedItems ) 
  
      $('#pagination-container').pagination({
          pageSize: computedItems,
          showPageNumbers: false,
          showPrevious: false,
          showNext: false,
  
          dataSource: data,
  
          callback: function(data, pagination) { // on page
              console.log('pagination')
              setTimeout(function(){ //pg, sz, tot
                  showHide(pagination.pageNumber, pagination.pageSize, pagination.totalNumber)
              },1)
  
              var html = renderMustache('temp1', data)
              $('#data-container').html(html)
          }//cb
      })
  
  }//()
  
  function showHide(pg, sz, tot) {
      if(pg==1)  { but('prevBut', false ) }
          else but('prevBut', true) 
  
      var cur = pg * sz
      console.log('showHide', cur, tot)
      if(cur < tot) { // more 
          but('nextBut', true) 
      } else { // to much
          but('nextBut', false) 
      }
  }
  
  function but(id, on) {
      //console.log(id, on)
      $b = $('#'+id)
      $b.prop('disabled', !on)
      if(on) {
          $b.removeClass( "classless" )
          $b.removeClass( "butOff" )
          $b.addClass(    "btn-a" )
          $b.addClass(    "butOn" )
  
      } else {
          $b.removeClass( "btn-a" )
          $b.removeClass( "butOn" )
          $b.addClass(    "classless" )
          $b.addClass(    "butOff" )
      }
  }//()
</script>