
<head>
  <script>
    var _start = Date.now()
    window.ENV = '0' //- for comps, but it is also in scope for Pug for ENV logic
    
  </script>
  <title>Rambo - Last Blood</title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <script src="https://cdn.jsdelivr.net/npm/johnnydepp@0.1.0/dist/depp.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/intuition-dev/toolBelt@v1.9.20/src/toolBelt.min.js"></script>
  <style>
    html { touch-action: manipulation; }
    .delayShowing { opacity: 0; }
    .blur { -webkit-filter:blur(2px);filter:blur(2px); }
  </style>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/intuition-dev/intuDS@v1.0.1/src/css/min.min.css"/>
</head>
<body>
  <div class="fragCont">
    <p></p>
    <button class="btn butOff classless" id="prev" disabled="disabled">Previous </button>
    <p></p>
    <div class="pagCont">
      <div id="data-container"></div>
      <div id="pagination-container"></div>
    </div>
    <p></p>
    <button class="btn butOff classless" id="next" disabled="disabled">Next </button>
    <template id="temp1">
      <div class="fragTitle">{{#.}} {{title}}</div>
      <hr/><br/><span>{{/.}}</span>
    </template>
  </div>
<!-- mB v6.09.18 on 2019-09-25T05:04:22.345Z --></body>
<style>
   hr {
       color: black;
       border: 1px solid;
   }
  
   .fragCont {
       display: flex;
       flex-direction: column;
       height: calc(100% - 1.5em);
   }    
   .pagCont {
       flex-grow: 1;
   }
  
   .btn {
       width: 8em;
   }
  
   .butOn {
       font-weight: normal;
       pointer-events: auto;
   }
   .butOff {
       font-weight: lighter;
       pointer-events: none;
  }
  
  
</style>
<script>
  toolBeltDefault()
  
  function renderMustache( data) {
      let template = document.getElementById('temp1').innerHTML
      return Mustache.render(template, data)
  }
  
  depp.require(['jquery', 'pagination', 'mustache', 'js-yaml', 'poly'], function() {
      console.log('ready')
      // data
      fetchFrags('').then(function(dat){
          console.log(dat)
          onFragData(dat.frags)
      })
  
      document.getElementById("prev").addEventListener("click", function(){
              console.log('P')
              $('#pagination-container').pagination('previous')
          })
  
      document.getElementById("next").addEventListener("click", function(){
          console.log('N')
          $('#pagination-container').pagination('next')
      })
      
  })
  
  function fetchFrags(path) {  //polyIO
      return new Promise(function (resolve, reject) {
          fetch('dat.yaml', {
              cache: 'default',
              keepalive: true
          }).then(function (fullResp) {
              if (!fullResp.ok)
                  reject(fullResp.statusText)
              return fullResp.text()
              }).then(function (ys) {
                  let y = jsyaml.safeLoad(ys)
                  resolve(y)
              })
          .catch(function (err) {
              console.log(err)
              reject(err)
          })
      })//pro
  }
  
  function onFragData(data) {        
  
      console.log('data')
      var computedItems = $('.pagCont').height() / 40   // pixels    
      console.log( $('.pagCont').height(), computedItems ) 
  
      $('#pagination-container').pagination({
          pageSize: computedItems,
          showPageNumbers: false,
          showPrevious: false,
          showNext: false,
  
          dataSource: data,
  
          callback: function(data, pagination) { // on page
              console.log('pg')
              //pg, sz, tot
              setTimeout(function(){
                  showHide(pagination.pageNumber, pagination.pageSize, pagination.totalNumber)
              },1)
  
              var html = renderMustache(data)
              $('#data-container').html(html)
          }//cb
      })
  
  }//()
  
  function showHide(pg, sz, tot) {
      console.log('sh')
      if(pg==1)  { but('prev', false ) }
          else but('prev', true) 
  
      var cur = pg * sz
      console.log(cur, tot)
      if(cur < tot) { // more 
          but('next', true) 
      } else { // to much
          but('next', false) 
      }
  }
  
  function but(id, on) {
      console.log(id,on)
      $b = $('#'+id)
      $b.prop('disabled', !on)
      if(on) {
          $b.removeClass( "classless" )
          $b.removeClass( "butOff" )
          $b.addClass(    "btn-a" )
          $b.addClass(    "butOn" )
  
      } else {
          $b.removeClass( "btn-a" )
          $b.removeClass( "butOn" )
          $b.addClass(    "classless" )
          $b.addClass(    "butOff" )
      }
  }//()
</script>