.btn {
	&.btn-link {
		color: $white;
		&:hover {
			border-bottom: 2px solid $white;
			color: $white;
		}
	}
}

button {
	text-transform: uppercase;
	letter-spacing: 1px;
}

.icono-mail {
	border: 1px solid;
    width: 19px;
    height: 13px;
    overflow: hidden;
    margin: 8px 3px;
	display: inline-block;
    vertical-align: middle;
    position: relative;
    font-style: normal;
    color: currentColor;
    text-align: left;
    text-indent: -9999px;
    direction: ltr;
	box-sizing: border-box;
	transition: all .2s;
	margin: 0 7px 0 0;
	&:before {
		border: 1px solid;
		position: absolute;
		width: 15px;
		height: 15px;
		-webkit-transform: rotate(50deg) skew(-10deg,-20deg);
		transform: rotate(50deg) skew(-10deg,-20deg);
		top: -8px;
		left: 1px;
	}
}

[class*=icono-]:after, [class*=icono-]:before {
    content: '';
    pointer-events: none;
}