//- Cards

.section-cards {
	display: flex;
	justify-content: flex-start;
	margin: 1rem 0;
	input, input.input-lg.form-input {
		&, &:hover, &:active, &:focus {
			outline: none;
			box-shadow: none;
			border-color: #bcc3ce;
			border-right: 0;
		}
	}
	input, button {
		border-radius: 50px;
	}
	input.input-lg, button.btn-lg {
		font-size: 14px;
	}
	input.input-lg {
		&:focus {
			border-color: $blue-sky;
		}
	}
	button.btn-lg {
		background-color: $mine-shaft;
		border-color: $mine-shaft;
		&:hover, &:focus {
			background-color: $blue-sky;
			border-color: $blue-sky;
		}
	}
}

.cards-container {
	.column {
		padding: .4rem;
	}

	.card {
		box-shadow: 0 0.25rem 1rem rgba(48,55,66,.15);
		border: 0;
		&:hover {
			button {
				color: $blue-sky;
			}
		}
		button {
			font-size: 10px;
			padding: 5px 0;
			color: $black;
			margin-bottom: 12px;
			transition: all .3s linear;
			&:hover, &:focus {
				color: $blue-sky;
			}
			&, &:hover, &:active, &:focus {
				background-color: transparent;
				border-color: transparent;
				outline: none;
				box-shadow: none;
			}
		}
	}
}

.banner {
	display: flex;
	align-items: center;
	margin: 5rem 0 2rem 0;
}

//- POST PAGE
.banner {
	.date {
		color: $waterloo;
	}
}


.content-post {
	padding: 50px 0;
	h2 {
		&:after {
			content: '';
			display: table;
			width: 300px;
			height: 2px;
			margin: 1.5rem 0;
			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,2885c0+50,ffffff+100 */
			background: #ffffff; /* Old browsers */
			background: -moz-linear-gradient(left, #ffffff 0%, $black 50%, #ffffff 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(left, #ffffff 0%,$black 50%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to right, #ffffff 0%,$black 50%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
		}
	}
	h1, h2, h3, h4, h5, h6, p {
		// text-align: center;
	}
}

img {
	max-height: 70vh;
}

.search-wrapper {
	margin-top: 4rem;
}