//- Cards

.section-cards {
	display: flex;
	justify-content: flex-start;
	margin: 1rem 0;
	input, button {
		border-radius: 50px;
	}
	input.input-lg, button.btn-lg {
		font-size: 14px;
	}
	input.input-lg {
		&:focus {
			border-color: $blue-sky;
		}
	}
	button.btn-lg {
		background-color: $mine-shaft;
		border-color: $mine-shaft;
		&:hover, &:focus {
			background-color: $blue-sky;
			border-color: $blue-sky;
		}
	}
}

.cards-container {
	.column {
		padding: .4rem;
	}

	.card {
		box-shadow: 0 0.25rem 1rem rgba(48,55,66,.15);
		border: 0;
		button {
			font-size: 10px;
			padding: 5px 15px;
			border-radius: 5px;
			background-color: $blue-sky;
			border-color: $blue-sky;
			color: $white;
			margin-bottom: 12px;
			&:hover, &:focus {
				background-color: $blue-sky;
				border-color: $blue-sky;
			}
		}
	}
}

.banner {
	display: flex;
	align-items: center;
	height: 300px;
}

//- POST PAGE
.banner {
	.date {
		color: $waterloo;
	}
}


.content-post {
	padding: 50px 0;
}