body {
	font-family: $font-family;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url('../img/blog/background.png') repeat 100% 100%;
  background-color: #ccd7e4;
  background-size: cover;
	color: #333;
}

h1, h2 {
  font-family: 'Bitter', serif;
}

h1 {
  font-size: 55px;
  line-height: 60px;
  font-weight: 500;
}

p {
  font-family: 'Open Sans', sans-serif;
  color: #7c8499;
  line-height: 25px;
}

a {
  color: #333;
}
