h1, h2 {
  font-family: 'Bitter', serif;
}

h1 {
  font-size: 55px;
  line-height: 60px;
  font-weight: 500;
  @media (max-width: 840px) {
    font-size: 45px;
    line-height: 55px;
  }
  @media (max-width: 480px) {
    font-size: 32px;
    line-height: 42px;
  }
}

p {
  font-family: 'Open Sans', sans-serif;
  color: $waterloo;
  line-height: 25px;
}

a {
  color: $acadia;
}
