* {
  min-width: 0;
  min-height: 0;
  box-sizing: border-box;
}

body {
  padding: 20px 80px;
  background-color: #ccd7e4;
  background-image: linear-gradient(180deg, hsla(0, 0%, 100%, .8), hsla(0, 0%, 100%, .8)), url('assets/img/blog/body-background.png');
  background-size: cover;
}
