/** custom **/
@import '../spectre/spectre.scss';
@import '../spectre/spectre-exp.scss';
@import '../spectre/spectre-icons.scss';
@import '_variables-blog.sass';
@import '_button.scss';
// @import '_typography.scss';
// @import '_layout.scss';
// @import '_components.scss';
// @import '_footer.scss';

body {
	font-family: $font-family;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url('../img/blog/background.png') repeat 100% 100%;
  background-color: #ccd7e4;
  background-size: cover;
}

header {
	img {
	  width: 100px;
	}

	.social-icon {
	  text-align: center;
	  width: 30px;
	  height: 30px;
	  line-height: 30px;
	  margin-right: 4px;
	  border-radius: 2px;
	  background-color: #fff;
	  box-shadow: 1px 1px 3px 0 #c1cddb;
	  opacity: 0.60;
	  -webkit-transition: all 400ms ease;
	  transition: all 400ms ease;
	}
}


@media (max-width: 840px) {
  header a {
    margin-left: auto;
  }
}
