/** custom **/
@import '../spectre/spectre.scss';
@import '../spectre/spectre-exp.scss';
@import '../spectre/spectre-icons.scss';
@import '_variables.sass';
@import '_layout.scss';
@import '_button.scss';
@import '_typography.scss';
@import '_components.scss';

.banner, .banner-home {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 300px;
}

//- HOME PAGE
.banner-home {
	height: 500px;
	p {
		color: $white;
	}
}

//- POST PAGE
.banner {
	.date {
		color: $waterloo;
	}
}

.content-post {
	padding: 50px 0;
}
