head
    include /layout/headFrag
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/gh/intuition-dev/intuDS@v1.0.3/src/css/min.min.css')

body
    .pgCont
        .top
            p oh hi
            hr

        span.splitCont
            #left.split
                .main
                    .mediaContainerTop
                        //vXideo#vid1.vid( autoplay preload='auto' loop muted )
                            source(src='arc2.mp4' type="video/mp4" )
                        
                    .mainBot
                    hr
                    p oh hi
                    hr

            #right.split
                div
                    button Up
                    p
                    button Down
       

    style.
        /* video detach button */
        //  video popout
        // https://css-tricks.com/custom-controls-in-html5-video-full-screen/
        // May remove other useful browser popups, inserted after "body" element.
        ::-webkit-media-controls {
            display:none !important;
        }
        video::-webkit-media-controls-enclosure {
           display:none !important;
        }

        * { margin: 0; padding: 0; }
        html, body { 
            width: 100%; 
            height: 100%; 
            overflow: hidden;
        }
        .pgCont {
            display: flex;
            flex-direction: column;
            height: 100vh;
            max-height: 100vh;
        }
        .splitCont {
            flex-grow: 1;
        }
        .gutter {
            background-color: gray;
            width: 10px;
        }
        .split {
            overflow: hidden;
        }

        .main {
            display: flex; /* second flex level */
            flex-direction: column;

            border:  3px solid yellow;
            background: purple;	
        }
        .mediaContainerTop { /* fluid */
            flex-grow: 1;
            position: relative;
            
            border:  1px solid red;
            background: black;	
        }
        .mainBot {
            flex-grow: 1;
            background-color: green;

            border:  1px solid blue;
            background: silver;	           
        }

        .Xvid { /* ratio */
        	position: absolute;
            top: 0;
            left: 0;
            Xwidth:  100%;
            Xheight: 100%;

            border:  3px solid red;
            background: teal;	
         }

    script.
        window.addEventListener('resize', resizeVid) 
        function resizeVid() {
            var w = $('.mediaContainerTop').width()
            var h = $('.mediaContainerTop').height()
            var nh = w * 0.5625
            var nw = h * 1.7777

             // now math    
            console.log('>>>>')
            console.log('w', w, h, nw, nh)

            if(nh > h)
                $('#vid1').height(nh)
            
            if(nw>w)
                $('#vid1').width(nw)

            // margin
            nh= nh - h
            nh = nh/2
            nh = nh + 'px'
            console.log('w', w, h, nw, nh)
            //$('#vid1').css('margin-top', nh )
            console.log('<<<')
        }//()


        toolBeltDefault()
        depp.require(['split', 'DOMDelayed', 'jquery'], function() {
            
            var sp = Split( [document.querySelector('#left'), document.querySelector('#right')] , {
                direction: 'horizontal',
                sizes: [80, 20],
                minSize: 0
            })
            console.log('ready!')

            resizeVid()
            
        })//depp
