head
    include /layout/headFrag
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/gh/intuition-dev/intuDS@v1.0.3/src/css/min.min.css')

body
    .pgCont
        .top
            p oh hi
            hr
        .cont
            #left

                .main
                    .mediaContainerTop
                        p oh hi
                        //vXideo#vid1.vid( autoplay preload='auto' loop muted )
                            source(src='arc2.mp4' type="video/mp4" )
                        
                    .mainBot
            
                        p oh hi

    
            #right
                button Up
                p
                button Down
    

    style.
        /* video detach button 
        //  video popout
         https://css-tricks.com/custom-controls-in-html5-video-full-screen/
        */
        ::-webkit-media-controls {
            display:none !important;
        }
        video::-webkit-media-controls-enclosure {
           display:none !important;
        }

        * { margin: 0; padding: 0; }
        html, body { 
            width: 100%; 
            height: 100%; 
            overflow: hidden;
        }
        .pgCont {
            display: flex;
            flex-direction: column;
            height: 100vh;
            max-height: 100vh;
        }
        .top {
            height: 3.5em;
        }

        .cont {
            display: flex; /* 2nd fle level */
            flex-grow: 1; 
        }
        #left {
            width: calc(100% - 100px);
        }

        .main {
            display: flex; /* 3rd flex level */
            flex-direction: column;
            height: calc(100% - 3.4em);
            overflow: hidden;

            border:  3px solid yellow;
            background: green;            
        }
        .mediaContainerTop { /* fluid */
            flex-grow: 0;
            position: relative;
            
            border:  1px solid red;
            background: gray;	
        }
        .mainBot {
            flex-grow: 1;

            border:  1px solid blue;
            background: silver;	           
        }


    script.
        // https://codetheory.in/html5-fullscreen-background-video/
        //window.addEventListener('resize', resizeVid) 
        function resizeVid() {
            var w = $('.main').width()
            var h = $('.main').height() - $('.mainBot').height()

            // math:
            console.log('>>>>')
            var nh = w * 0.5625
            var nw = h * 1.7777 //based on new hn
            console.log('c:', w, h, nw, nh)       

            if(nw>w) {
                console.log('too wide')
                // the problem
                $('.mediaContainerTop').width( w)
                $('.mediaContainerTop').height( nh)
            }
            if(nh>h) {
                console.log('too tall')
                $('.mediaContainerTop').width( nw)
                $('.mediaContainerTop').height(  nh)
            }

            nw = nw-5
            
            console.log('<<<')
        }//()


        toolBeltDefault()
        depp.require(['DOMDelayed', 'jquery'], function() {
    
            //resizeVid()
            console.log('ready')
        })//depp
