head
    include /layout/headFrag
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/gh/intuition-dev/intuDS@v1.0.3/src/css/min.min.css')

body
    .cont
        .top
            p oh hi
            hr

        span.main
            #left.split.media_container
                //video#vid1.vid( autoplay preload='auto' loop muted )
                    source(src='arc2.mp4' type="video/mp4" )
                
                //.mainBot
                    hr
                    p oh hi
                    hr

            #right.split
                div
                    button Up
                    p
                    button Down
       

    style.
        /* video detach button */
        //  video popout
        // https://css-tricks.com/custom-controls-in-html5-video-full-screen/
        // May remove other useful browser popups, inserted after "body" element.
        ::-webkit-media-controls {
            display:none !important;
        }
        video::-webkit-media-controls-enclosure {
           display:none !important;
        }

        * { margin: 0; padding: 0; }
        html, body { 
            width: 100%; 
            height: 100%; 
        }

        .cont {
            display: flex;
            flex-direction: column;
        }

        .main {
            flex-grow: 1;
            display: flex; /* second flex level */
            flex-direction: row;
        }
        
        .split {
            overflow: hidden;
        }
        
        .media_container { /* fluid */
            flex-grow: 1;
            position: relative;
            width:  100%; 
            height: 100%;
   
            padding-bottom: 56.25%;
            padding-top: 25px;
            
            border:  1px solid yellow;
            background: black;	
        }

        .vid { /* ratio */
        	position: absolute;
            top: 0;
            left: 0;
            width:  100%;
            height: 100%;

            border:  3px solid red;
            background: teal;	
         }

    script.
        //window.addEventListener('resize', resizeVid) 
        function resizeVid() {
            var w = $('.media_container').width()
            var h = $('.media_container').height()
            var nh = w * 0.5625
            var nw = h * 1.7777

             // now math    
            console.log('>>>>')
            console.log('w', w, h, nw, nh)

            if(nh > h)
                $('#vid1').height(nh)
            
            if(nw>w)
                $('#vid1').width(nw)

            // margin
            nh= nh - h
            nh = nh/2
            nh = nh + 'px'
            console.log('w', w, h, nw, nh)
            //$('#vid1').css('margin-top', nh )
            console.log('<<<')
        }//()


        toolBeltDefault()
        depp.require(['split', 'DOMDelayed', 'jquery'], function() {
            
            var sp = Split( [document.querySelector('#left'), document.querySelector('#right')] , {
                dXirection: 'horizontal',
                sizes: [80, 20],
                minSize: 0
            })
            console.log('ready!')

            //resizeVid()
            
        })//depp
