head
    include /layout/headFrag
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/gh/intuition-dev/intuDS@v1.0.3/src/css/min.min.css')

body
    .cont
        .top
            p oh hi
            hr

        span.mid
            #left.split
                // http://dinbror.dk/blog/how-to-preload-entire-html5-video-before-play-solved/
                .media_container
                    Xvideo#vid1.vid( autoplay preload='auto' loop muted )
                        source(src='arc2.mp4' type="video/mp4" )

            #right.split
                div
                    button Up
                    p
                    button Down
        .bot
            hr
            p oh hi
            hr

    style.
        /* video detach button */
        //  video popout
        // https://css-tricks.com/custom-controls-in-html5-video-full-screen/
        // May remove other useful browser popups, inserted after "body" element.
        ::-webkit-media-controls {
            display:none !important;
        }
        video::-webkit-media-controls-enclosure {
           display:none !important;
        }

        * { margin: 0; padding: 0; }
        html, body { 
            width: 100%; 
            height: 100%; 
        }

        .cont {
            display: flex;
            flex-direction: column;
        }

        .mid {
            display: flex;
            flex-grow: 1;

            max-width: 10vw;
            min-width: 50vw;
            max-height: 100vh;
            min-height: 50vh;

        }

        .media_container { /* fluid */
            flex-grow: 1;
            position: relative;
            width:  100%; 
            height: 100%;
   
            padding-bottom: 56.25%;
            padding-top: 25px;
            
            border:  3px solid yellow;
            background: black;	
        }

        .vid { /* ratio */
        	position: absolute;
            top: 0;
            left: 0;
            width:  100%;
            height: 100%;

            border:  1px solid red;
            background: teal;	
         }

    script.
        //window.addEventListener('resize', resizeVid) 
        function resizeVid() {
            var w = $('.media_container').width()
            var h = $('.media_container').height()
            var nh = w * 0.5625
            var nw = h * 1.7777

             // now math    
            console.log('>>>>')
            console.log('w', w, h, nw, nh)

            if(nh > h)
                $('#vid1').height(nh)
            
            if(nw>w)
                $('#vid1').width(nw)


            // margin
            nh= nh - h
            nh = nh/2
            nh = nh + 'px'
            console.log('w', w, h, nw, nh)
            //$('#vid1').css('margin-top', nh )
            console.log('<<<')
        }//()


        toolBeltDefault()
        depp.require(['split', 'DOMDelayed', 'jquery'], function() {
            console.log('ready!')
            resizeVid()
            
            /*var spLR = Split( [document.querySelector('#left'), document.querySelector('#right')] , {
                direction: 'horizontal',
                sizes: [90, 10],
                minSize: 0
            })*/
            //console.log(sp.getSizes())
            /*var spUD = Split( [document.querySelector('.mid'), document.querySelector('.bot)] , {
                direction: 'horizontal',
               sizes: [90, 10],
               minSize: 0
            })
            */

        })//depp
