extends /layout/layout

block main
   include:metaMD who-benefits.md
   include:metaMD tech-leads.md
   include:metaMD chief-technology-officers.md
   include:metaMD vice-president-of-engineering.md
   include:metaMD developers-new-to-low-code.md
   .d-hide(data-js-menu-highlight="who-benefits")