footer
  .columns.flex-centered
    .column.col-6.text-left
      div Created by Sandra Alvarez / Style Guide / Image Licensing
    .column.col-6.text-right
      div © 2018 Evelin / All rights reserved / Powered by mBake
