extends /layout/blog-layout

block main
  .banner-home
    div
      p From websites to marketing tools and analytics, 
      h1 
        | Our blogging functionality is complete with 
        br 
        | images, galleries, videos, and audio.
      .columns
        .column.col-6.col-xs-12
          .input-group
            input.form-input.input-lg(type='email', placeholder='Enter your email')
            button.btn.btn-primary.input-group-btn.btn-lg Subscribe
    
  card-tag  
  
  script.
    axios.get('../posts/items.json').then(function(resp) {
       resp.data.items = resp.data.items.filter(item => item.publish1 === true);
       posts = resp.data;
       console.info('resp.data --------->', posts);
    
       const tag = riot.mount('card-tag')[0]; 
       console.info('posts.items ------------>', posts.items);
       tag.render(posts.items);
     });
  
  
  
