header.flex.edge.header-amp
   #navbar-brand.left.white
      .navbar-brand.mr-2.padL
         h3#logo
            a(href='/') 
               span Versten
   .right.white
      ul#navJBar.navJBar(data-function='navJBar')
         li.navFirst
            a(href='/home-a/about/') ABOUT US
         li
            a(href='/home-a/strategy/') OUR STRATEGY
         li
            a(href='/home-a/workshops/') WORKSHOPS
         li
            a(href='/home-a/product/') OUR PRODUCT  
         li
            a.team(href='/team/') TEAM
         li
            -// Blog
            a.news(href='/news/') NEWS
         //- li
         //-    a.blog(href='/blog/') BLOG
         li
            a.contact(href='/contact/') CONTACT US