nav.navbar.navbar-expand-lg.navbar-light
   a.navbar-brand(href='/') INTUITION.DEV
   button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarText')
      span.navbar-toggler-icon

   #navbarText.collapse.navbar-collapse
      ul.navbar-nav.mr-auto
         li.nav-item.active
            a.nav-link(href='/') Low-Code
         li.nav-item
            a.nav-link(href='/pg/features/') Features
         li.nav-item
            a.nav-link(href='http://docs.mbake.org', target="_blank") Docs
         li.nav-item
            a.nav-link(href='/pg/examples') Examples
         li.nav-item
            a.nav-link(href='http://forum.mbake.org') Message Board
         li.nav-item
            a.nav-link(href='/pg/about') About
         li.nav-item
            a.nav-link(href='http://blog.metabake.net/', target="_blank") Blog
            
      a.navbar-text(href='//github.com/intuition-dev', target="_blank")
         h2.text-dark
            i.fa.fa-github