head
body
   script.
      locations = ['/why-metabake/metabake-vs-other-low-code','/why-metabake/metabake-vs-hugo','/why-metabake/metabake-vs-gulp-and-grunt'];
      window.location.href = locations[Math.floor(Math.random() * locations.length)];
