
div
   hr
   .pad
      .monkeyContainer
         img(src='/assets/logo.jpg')

      h4  MetaBake is the extensible open source low-code productivity tool for programmers; including dynamic apps and data binding.

      i MetaBake works via static generation; with Pug, Markdown and more; including dynamic apps and data binding. *'All. My. Friends. Know a low-coder.'*

      p.
         Terms
         Privacy
         Contact us

      a(href='http://forum.mbake.org') Forum
      a(href='http://git.mbake.org') GitHub
      a(href='http://docs.mbake.org') Docs

