header.flex.edge.header-amp
   .logo-wrap
      a(href='/')#logo
         span Meta
         | bake
      .site-title MetaBake&trade; is the extensible low-code productivity tool that simplifies the process for building great software.
   .right
      ul#navJBar.hide-lg.navJBar(data-function='navJBar')
         li
            a.landing(href='#') Why MetaBake
            ul
               li
                  a(href='/landing/why/') Why MetaBake
               li
                  a(href='/landing/low-code/') MetaBake&trade; vs. Other low-code
               li
                  a(href='/landing/static-gen/') MetaBake&trade; vs. Hugo
               li
                  a(href='/landing/gulp-and-grunt/') MetaBake&trade; vs. Gulp and Grunt
               li
                  a(href='/landing/cms/') MetaBake&trade; vs. Gulp and Grunt
         li
            a.who-benefits(href='/use-case/benefits') Who Benefits
         li
            a.get-started(href='/get-started/') Get Started
         li
            a.about(href='#') about
            ul
               li
                  a(href='/zabout/about/') About Us
               li
                  a(href='/zabout/contact/') contact us