textarea {
   resize: none;
}

button {
   cursor: pointer;
}

.grid-form {
   margin: 0 0 1.7rem 0;
}

.notification {
   color: $color-theme;
   font-size: 12px;
   margin: 1rem 0;
}

.support {
   #sendBut {
      margin-bottom: 40px;
   }
}

.grid-form fieldset legend {
   font-size: 15px;
}

.download-form {
   width: 695px;
   max-width: 100%;
}