extends /layout/layout
//- App Shell

block top
   style.
      .pageBack {
         background-image: url(img.jpg);
      }


   .pageBack.delayShowing(data-js-menu-highlight="about")
      include /layout/nav
      br
      H1.flex.white.fLarge.fBod Our Strategy


block main
   .pad2.container
      H2.cAccent.line.fBod Our Strategy

      include:metaMD services.md
      .columns
         .column.col-xs-12
            .pad
               include:metaMD services1.md
         .column.col-xs-12
            .pad
               include:metaMD services2.md

      H1.fBod How does it work?
      .columns
         .column.col-xs-12
            .pad
               include:metaMD presprint.md
         .column.col-xs-12
            .pad
               include:metaMD fivedayssprint.md
         .column.col-xs-12
            .pad
               include:metaMD postsprint.md
      include:metaMD services4.md

   //-link(href= ROOT + 'assets/css/debug.css', rel='stylesheet')

